  html{
    min-height: 100%;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f2;
    color: #2e4d34;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
  flex: 1; /* Hace que el contenido crezca y empuje el footer hacia abajo */
  }
  
  header {
    background-color: #2e7d32; 
    color: white;
  }
  
  footer {
    background-color: #a5d6a7; 
    color: #1b5e20;
    border-top: 1px solid #dee2e6;
  }
  
  h1, h2 {
    color: #1b5e20;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  .btn-primary {
    background-color: #388e3c;
    border-color: #2e7d32;
  }
  
  .btn-secondary {
    background-color: #66bb6a;
    border-color: #388e3c;
  }
  
  .btn-info {
    background-color: #81c784;
    border-color: #66bb6a;
    color: #1b5e20;
  }
  
  .btn-outline-success {
    color: #2e7d32;
    border-color: #2e7d32;
  }
  
  .btn-outline-success:hover {
    background-color: #2e7d32;
    color: white;
  }
  